
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 62.5%;
}

body {
    background: hsl(225, 100%, 94%);
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 1.6rem;

}

.container {
    width: 100%;
}

.innerContainer {
    position:relative;
    background-image: url("images/illustration-hero.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: white;
    font-size: 1.6rem;
    width: 450px;
    height: 700px;
    margin: auto;
    margin-top: 120px;
    border-radius: 25px;
    overflow: hidden;
    text-align: center;
}

h1 {
    margin-top: 220px;
    padding-top: 30px;
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 2.8rem;
}

p {
    padding: 20px 80px;
    color: hsl(223, 47%, 23%);
    font-size: 1.6rem;
    line-height: 24px;
}

.box {
    margin: auto;
    display:flex;
    position: relative;
    width: 350px;
    justify-content: flex-start;
    background-color: hsl(225, 100%, 98%);
    padding: 25px 10px 25px 20px;
    align-content: center;    
    border-radius: 20px;
}

.plan {
    flex-grow: 2;
    text-align: left;
    padding-left: 25px;
    max-width: 150px;
    line-height: 25px;
    font-size: 1.6rem;
    color: hsl(223, 47%, 23%);
}

span {
    font-size: 1.6rem;
    font-weight: 900;
}

div > a {
    align-self: center;
    text-align: right;
    flex-grow: 5;
    font-weight: 700;
    font-size: 1.5rem;
    padding-right: 10px;
}

div > a:hover {
    color: hsl(244, 82%, 68%);
    text-decoration: none;
}

.paymentButton {
    background-color: hsl(245, 75%, 52%);
    margin: auto;
    margin-top: 30px;
    width: 334px;
    padding: 18px;
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 15px;
    box-shadow: 0px 25px 20px hsl(228, 76%, 93%);
}

.paymentButton:hover {
    background-color: hsl(244, 82%, 68%);
}

.cancelOrder {
    color:hsl(224, 23%, 55%);
    margin-top: 30px;
    font-size: 1.6rem;
    font-weight: 700;
}

.cancelOrder:hover {
    color: hsl(223, 47%, 23%);
}

.attribution {
    position: relative;
    margin-top: 50px;
    font-size: 1.1rem;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width:500px) {

    body {
        background-image: url("images/pattern-background-mobile.svg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
    .innerContainer {
        width: 90%;
        height: auto;
        padding-bottom: 7vw;
    }

    h1 {
        margin-top: 50%;
        font-size: 5.6vw; 
    }
    p {
        padding: 20px 40px;
        font-size: 4vw;
        line-height: 6vw;
        color: hsl(224, 23%, 55%);
    }

    .box {
        width: 80%;
        justify-content: flex-start;
        background-color: hsl(225, 100%, 98%);
        padding: 4vw 1vw 4vw 1vw;
        align-content: center;    
        border-radius: 4vw;
    }

    .iconMusic {
        align-self: center;
        margin-left: 3%;
    }
    .iconMusic > img {
        width: 100%;        
    }

    .plan {
        padding-left: 5vw;
        align-self: center;
        color: hsl(224, 23%, 55%);
    }
    .plan, span {
        font-size: 3.5vw;
        line-height: 5vw;
    }

    span {
        color: hsl(223, 47%, 23%);
    }

    .box a {
        font-size: 3.5vw;
    }

    .paymentButton {
        margin: auto;
        margin-top: 6vw;
        width: 70%;
        padding: 3vw 4vw;
        color: white;
        font-size: 3.5vw;
        font-weight: 700;
        border-radius: 4vw;
        box-shadow: 0px 25px 20px hsl(228, 76%, 93%);
    }

    .cancelOrder {
        font-size: 3.5vw
    }
    
}